<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products'%}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
              <a href="{% url 'products' %}?category=beef,fish" class="dropdown-item">Meat & Fish</a>
<a href="{% url 'products' %}?category=african_fresh_vegetables" class="dropdown-item">African Fresh Vegetables</a>
<a href="{% url 'products' %}?category=dried_fish" class="dropdown-item">Dried Fish & Shrimps</a>
<a href="{% url 'products' %}?category=dried_leaves" class="dropdown-item">Dried Leaves & Seeds / Herbs</a>
<a href="{% url 'products' %}?category=seafood" class="dropdown-item">Seafood</a>
<a href="{% url 'products' %}?category=garri" class="dropdown-item">Garri</a>
<a href="{% url 'products' %}?category=beans" class="dropdown-item">Beans</a>
<a href="{% url 'products' %}?category=yam" class="dropdown-item">Yam</a>
<a href="{% url 'products' %}?category=poultry" class="dropdown-item">Poultry</a>
<a href="{% url 'products' %}?category=rice" class="dropdown-item">Rice</a>
<a href="{% url 'products' %}?category=Tomatoes" class="dropdown-item">Tomatoes</a>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=nigerian_soft_drinks" class="dropdown-item">Nigerian Soft Drinks</a>
<a href="{% url 'products' %}?category=wines" class="dropdown-item">Wines</a>
<a href="{% url 'products' %}?category=herbal_drinks" class="dropdown-item">Herbal Drinks</a>
            </div>
        </li>


         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gadgets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=phones" class="dropdown-item">Phones</a>
<a href="{% url 'products' %}?category=laptops" class="dropdown-item">Laptops</a>
<a href="{% url 'products' %}?category=speakers" class="dropdown-item">Speakers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
<a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
<a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
<a href="{% url 'products' %}?category=all_specials" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>